<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeUMVSSKIrQUrmyl3K5efhUL6B487ThLY</string>
	<key>GCM_SENDER_ID</key>
	<string>642648204404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookReader</string>
	<key>PROJECT_ID</key>
	<string>bookreaderreal-2f207</string>
	<key>STORAGE_BUCKET</key>
	<string>bookreaderreal-2f207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642648204404:ios:553e6305d5b67142709d21</string>
</dict>
</plist>